# User-specific stuff:
.idea/
*.iml
.idea/Soen343Project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries
node_modules/
front-end/node_modules/
front-end/build/
front-end/package-lock.json
