@import url('https://fonts.googleapis.com/css?family=Fahkwang');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #e2670f;
  height: 150px;
  padding: 20px;
  color: white;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 80vh;
  line-height: 80vh;
  background-color: #EDE3D9 !important;
  overflow: hidden;
}

img.ui.image{
  height: 90vh !important;
  width: 100% !important;
  margin: auto;
  opacity: 1 !important;
  filter: blur(1px) !important;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.main-container{
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(255, 130, 83, 0.09) !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.MainContainer{
  width: 80%;
  margin: auto;
  min-height: 75vh;
  margin-top: 10vh;
    margin-bottom: 5vh;
    border-radius: 3px;
    border: solid 2px #e2e3e4;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    justify-content: center;
    align-items: center;
}
.MainContainer-upper-container{
    display: flex;
    padding: 10px 20px;
    border-bottom: solid 1px rgba(228, 232, 234, 0.62);
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(228, 232, 234, 0.10);
}
.MainContainer-upper-container-text{
    align-self: center;
}
.MainContainer-upper-container-first-text {
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e2670f;
}

.MainContainer-upper-container-second-text {
    font-size: 1em;
    line-height: 1.25;
    color: #e2670f;
}
.MainContainer-ant-carousel{
  width: 100%;
  min-height: 90vh;
  margin-top: 4.5vh
}
.MainContainer-ant-carousel-div> .ui.button{
  z-index: 1000;
  color: #ffffff !important;
  background-color: #e2670f !important;
  min-width: 10% !important;
  opacity: 0.9 !important;
    margin-top: 5%;
    margin-bottom: 5%;

}
.MainContainer-ant-carousel-div{
  position: absolute !important;
  top: 45% !important;
  left: 40% !important;
  z-index: 1001;
  width: 20%!important;
    min-height: 15vh;
  color: #e2670f !important;
  font-size: 40px;
    border-radius: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  font-family: 'Fahkwang', sans-serif;
  opacity: 0.9;
    background-color: #ffffff;

}
.MainContainer-ant-carousel-div> .ui.button:hover{
  z-index: 1000;
  color: #ffffff !important;
  background-color: #e2670f !important;
  opacity: 1 !important;
}

.footer{
  background-color: #e2670f !important;
  padding: 2% !important;
}
.footer > div > div > a{
  color: #fff !important;
}
.menuStyle {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: #e2670f !important;
  transition: box-shadow 0.5s ease, padding 0.5s ease !important;
}

.fixedMenuStyle{
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2) !important;
}
.menuStyle > div > a, .menuStyle > div > div > div, .menuStyle> div  > .item  {
  color: #fff !important;
}
.fixedMenuStyle> div  >a , .fixedMenuStyle > div > div > div , .fixedMenuStyle> div  > .item {
  color: #e2670f !important;
}
.tableHeader{
  margin-top: 10%;
}
.login-form{
  position: absolute !important;
  top: 40% !important;
  z-index: 1000;
  width: 100% !important;
}
.signup-form{
  position: absolute !important;
  top: 30% !important;
  z-index: 1000;
  width: 100% !important;
}
.login-button{
  background-color: rgba(238, 105, 15, 0.95) !important;
  color: #ffffff !important;
}
.login-button:hover{
  background-color: #de660f !important;
}
.login-Header{
  color: #e2670f !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  font-family: 'Fahkwang', sans-serif;
}
.ui.form .field>label{
  text-align: left;
}
.iconsDashboard{
    margin: auto !important;
    margin-top: 4% !important;
    width: 40% !important;
    cursor: pointer;
    border: solid 1px #ffffff !important;
}
.iconsDashboard:hover{
    margin-top: 4% !important;
    border-radius: 5px;
    background-color: rgba(255, 130, 83, 0.09);
    border: solid 1px #e2670f !important;
}
.iconsDashboard > i{
    font-size: 150px !important;
    color: #e2670f !important;
}
.iconsDashboard > p{
    font-size: 40px !important;
    color: #e2670f !important;
}
.SettingsForm{
    width: 90% !important;
    margin: auto !important;
}
.ui.dropdown .menu{
    width: 100% !important;

}